body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

header {
  padding: 30px 15px;
  background: #111;
}

header h1 {
  margin-bottom: 10px;
  color: #ff7a00;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 25px;
  background: #ff7a00;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.cardapio {
  padding: 20px;
}

.cardapio img {
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  display: block;
  border-radius: 8px;
}

footer {
  background: #111;
  padding: 20px;
  font-size: 14px;
}
